{% extends "basic_dashboard.html" %}

    {% block css %}

    <link rel="stylesheet" href="/static/css/style.css">
    
    {% endblock %}

   {% block title %}

    <title>{{params.name}}</title>
  
  {% endblock %}

 {% block body %}
  
    
    <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div class="profile">
          <img src='data:image/png;base64, {{params.image}}' alt="{{params.image}}" class="img-fluid">
          <h3 class="name">{{params.name}}</h3>
          <span class="country">{{params.city}}</span>
        </div>

        <div class="counter d-flex justify-content-center">
            <div class="col">
              <span class="number-label">{{params.title}}</span>
            </div>
        </div>
        
        <div class="nav-menu">
          <ul>
            <li class="home active"><a href="#"><span class="mr-3"></span>Home</a></li>
            <li class="stats"><a href="#stats"><span class="mr-3"></span>Stats</a></li>            
            <li class="records"><a href="/record"><span class="mr-3"></span>Add Record</a></li>            
            <li class="explore"><a href="#explore"><span class="mr-3"></span>All Records</a></li>
            <li class="signout"><a href="/signout"><span class="mr-3"></span>Sign out</a></li>
          </ul>
        </div>
      </div>
      
    </aside>

    <main id="main-section">

      <section class="text-gray-600 body-font" id="stats">
        <div class="container px-2 py-24 mx-auto">
          <div class="flex flex-wrap -m-4 text-center justify-center record-group">
            <div class="p-4 sm:w-1/5 w-1/5 shadow-xl hover:shadow-2xl cursor-pointer mx-1" style="background-color:#B5CDA3">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">{{params.meta_data.total_patients}}</h2>
              <p class="leading-relaxed font-medium text-white">Total Patients</p>
            </div>
            
            
          </div>
        </div>
      </section>

     <!-- Stats to be made dynamic using jinja templating -->
      <section class="text-gray-600 body-font " id="explore">
        <div class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto md:text-left text-center cursor-pointer" onclick="display_all_rad()">
          <h1 class="md:text-3xl text-2xl font-medium title-font text-gray-900">All Patients</h1>
        </div>
        
        <!-- Records to be made dynamic using jinja templating -->

        <div class="container px-5 py-24 mx-auto ">
          <div class="flex flex-wrap -mx-4 -my-8 ">
            {% for i in params.records %}

            {% if loop.index % 2 == 0 %}
              
            <div class="py-4 px-4 lg:w-1/3 shadow-md hover:shadow-xl cursor-pointer mx-2 my-1 doc-1" style="background-color:#B5CDA3">
              <div class="h-full flex items-start mx-2">
                <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                  <span class="text-white pb-1 mb-2 text-center w-max-cont"> Age </span>
                  <span class="font-medium text-lg text-white border-t-2 border-white title-font leading-none w-max-cont text-center pt-2">{{i.age}} <p class=" text-white text-xs">{{i.yr}}</p></span>
                </div>
                <div class="flex-grow pl-6">
                  <h2 class="title-font text-xl font-medium text-white mx-3">{{i.pat_name}}</h2>
                  <a href="/show_records_{{i.pat_id}}" class="inline-flex items-center mx-1">
                    <img alt="blog" src="/static/images/patient-logo.png" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <h1 class="title-font text-xl font-medium text-white my-3 mx-3" id="main-heading">{{i.pat_id}}</h1>
              </a>
                </div>
              </div>
            </div>
            
          
            {% else %}
              
       

            <div class="py-4 px-4 lg:w-1/3 shadow-md hover:shadow-xl cursor-pointer my-1 mx-2 doc-2" style="background-color:#C1AC95">
              <div class="h-full flex items-start mx-2">
                <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                  <span class="text-white pb-1 mb-2 text-center w-max-cont"> Age </span>
                  <span class="font-medium text-lg text-white border-t-2 border-white title-font leading-none w-max-cont text-center pt-2">{{i.age}} <p class=" text-white text-xs">{{i.yr}}</p></span>
                </div>
                <div class="flex-grow pl-6">
                  <h2 class="title-font text-xl font-medium text-white mx-3">{{i.pat_name}}</h2>
                  <a href="/show_records_{{i.pat_id}}" class="inline-flex items-center mx-1">
                    <img alt="blog" src="/static/images/patient-logo.png" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <h1 class="title-font text-xl font-medium text-white my-3 mx-3" id="main-heading">{{i.pat_id}}</h1>
              </a>
            </div>
          </div>
        </div>
        
        {% endif %}
        
            {% endfor %}
            
           
            
          </div>
        </div>
      </section>

    </main>
    
    
    {% endblock %}
  
