<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/icons/icon.png" type="image/png">

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.css">

    <link rel="stylesheet" href="/static/css/tailwind.css">
       
    <link rel="stylesheet" href="/static/css/sidebar.css">

    <style>
        .none {
            display: none;
        }
    </style>

    <title> Record Details </title>
</head>
<body>
    
    <section class="text-gray-600 body-font overflow-hidden " id="details-section">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <h2 class="text-sm title-font text-gray-500 tracking-widest">{{params.date}}</h2>
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">Dr. {{params.doc_name}}</h1>
              <div class="flex mb-4">
                <a href="#desc" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1 cursor-pointer" id="desc_a" onclick="change_detail();">Prescription</a>
                <a href="#review" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer"id="rev_a" onclick="change_detail();">General Advice</a>
                <a href="#details" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer"id="det_a" onclick="change_detail();">Diagnostic Tests</a>
              </div>
              
              <div  id = "desc">
              {% for i in params.prescription %}
                <p class="leading-relaxed mb-4 text-black">                    
                  {{loop.index}}. {{i}}
                </p>
                {% endfor %}
            </div>

            <div class="none" id = "review">
              {% for i in params.advice %}
                <p class="leading-relaxed mb-4 text-black">                    
                  {{loop.index}}. {{i}}
                </p>
                {% endfor %}
            </div>
              

            <div class="none" id = "details">
                    {% for i in params.diagnostic %}
                      <p class="leading-relaxed mb-4 text-black">                    
                        {{loop.index}}. {{i}}
                      </p>
                      {% endfor %}
                    </div>
              
              <div class="flex">
                
                <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" onclick="location.href='/user'">Back to Dashboard</button>
                
                <!-- <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                  </svg>
                </button> -->

              </div>
            </div>
            <img alt="appointment" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="/static/images/Sedera-Doctor-002_with-background-1.png">
          </div>
        </div>
      </section>

</body>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/user_dashboard.js"></script>

</html>